button.green{ color:#67c23a; }
button.red{color: #f56c6c;}
h4.tb-title{ text-align: center; color:#1f7ab7; }
p.p-hei{height: 42px;}


.mb-16{margin-bottom: 16px;}
.fl{float:left;}
.min-w{min-width: 1280px;}
.page-content .el-form-item{margin-bottom: 0;}
#userCreate .el-form-item .el-card.is-always-shadow{ width: 50%;}
.page-content .el-card.is-always-shadow{ box-shadow: 0 2px 12px 0 rgba(0,0,0,.14); }
.page-content .mx-tool-bar{ padding: 15px;background-color: #f2f2f2;border-radius: 3px;}
.page-content h3{ border-bottom: 1px solid #e6e6e6; margin: 0 0 20px 0;padding-bottom: 10px;color: #48576a;}
.page-content .el-form-item{margin:20px 0;}
#userCreate .inp-long .el-input{width: 400px;}
/* .page-content .el-input */
#userCreate .inp-middle .el-input{width: 246px;} 
#userCreate .el-input, .inp-middle .el-input{ width:150px; }
.inp-mini .el-input{ width:50px; }
.tb-inp .el-date-editor.el-input{ width: 100%; }

/* TABLE 样式设置 */
.page-content .mx-table .el-input__inner{height:29px;line-height: 29px;}
.page-content .inp-mini .mx-table .el-input__inner{height: 22px; line-height: 22px;padding:0 5px;}
.page-content .mx-table .el-input__icon{ line-height: 30px; }
.page-content .mx-table .el-table__empty-block{min-height: 40px;}
.page-content .el-table td,.page-content .el-table th.is-leaf{border-bottom: 1px solid #cacbce;padding: 5px 0;}
.page-content .el-table--border td,.page-content .el-table--border th,.page-content .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{border-right: 1px solid #cacbce;}
.page-content .el-table--border,.page-content .el-table--group { border: 1px solid #cacbce; border-radius: 4px;}
.page-content .el-table td,.page-content .el-table th{text-align: center;}
.page-content .el-button--text,.page-content .el-button--text.is-disabled,.page-content .el-button--text.is-disabled:focus,.page-content .el-button--text.is-disabled:hover, .page-content .el-button--text:active{padding: 0;}
#userCreate .hr-table td:nth-child(3) .el-input{width: 56px;}

/* login 登录界面样式设置 */
.log-content .el-form-item__label{color:#ffffff;font-size: 16px;}
.log-content .el-input__inner{width: calc(100% - 60px);}

.constrat .el-card {border: 1px solid #c2c6d0;}
.changed .el-form-item__label{color: red;}
h3.red{color: red;}