button.green{ color:#67c23a; }
button.red{color: #f56c6c;}
h4.tb-title{ text-align: center; color:#1f7ab7; }
p.p-hei{height: 42px;}


.mx-table .el-input__inner{ outline: none;border: none; border-bottom: 1px dashed #dcdfe6;padding: 0; border-radius: 0; text-align: center;}

.mb-16{margin-bottom: 20px;}
.fl{float:left;}
.min-w{min-width: 1140px;}
.page-content .el-form-item{margin-bottom: 0;}
.page-content .el-dialog{ width: 70%; }
#userCreate .el-form-item .el-card.is-always-shadow{ width: 50%;}
.page-content .el-card.is-always-shadow{ box-shadow: 0 2px 12px 0 rgba(0,0,0,.14); }
.page-content .mx-tool-bar{ padding: 15px;background-color: #f2f2f2;border-radius: 3px;overflow: auto;}
.page-content h3{ border-bottom: 1px solid #e6e6e6; margin: 0 0 20px 0;padding-bottom: 10px;color: #48576a;}
.page-content .el-form-item{margin:20px 0;}
#userCreate .inp-long .el-input{width: 494px;}
#userCreate .inp-normal .el-input{ width: 200px; }
.search-page .el-input__inner{ width:150px; }
.search-page .budget-inp .el-input__inner{ width:100%; }
.search-page .el-form--inline .el-form-item{ margin-right: 20px; }
.search-page .el-date-editor.el-input, .search-page .el-date-editor.el-input__inner{ width: 150px; }
.inp-mid.el-input{ width:  300px;}
.inp-long.el-input{ width:  450px;}
.inp-normal.el-input{ width: 150px; }
.inp-long.el-textarea{ width: 60%; }
.inp-normal.el-date-editor.el-input{width: 150px;}
.long-sel .el-input{ width:280px; }
.samll-inp.el-input{ width:80px; }
.remark-inp.el-input{ width: 78px; }

/* .page-content .el-input */
#userCreate .inp-middle .el-input{width: 360px;} 
#userCreate .el-input{ width:130px; }
#userCreate .el-date-editor.el-input{ width: 150px; }
.inp-middle .el-input{ width: 150px; }
.inp-mini .el-input{ width:40px; }
.tb-inp .el-date-editor.el-input{ width: 100%; }

/* TABLE 样式设置 */
.page-content .view-table.el-table td{ padding: 5px 0 6px 0;}
.edit-table tr>td:nth-child(2), .edit-table tr>td:nth-child(3){ color: red; }
.edit-table tr>td:nth-child(2) .el-input__inner, .edit-table tr>td:nth-child(3) .el-input__inner{ color: red; border-bottom: 1px dashed red;}
.page-content .mx-table .el-input__inner{height:29px;line-height: 29px;}
.page-content .mt40.el-form-item{ margin-top: 40px; }
.page-content .inp-mini .mx-table .el-input__inner{height: 22px; line-height: 22px;padding:0 5px;}
.page-content .mx-table .el-input__icon{ line-height: 30px; }
.page-content .mx-table .el-table__empty-block{min-height: 40px;}
.page-content .el-table td,.page-content .el-table th.is-leaf{border-bottom: 1px solid #cacbce;padding: 5px 0;}
.page-content .el-table--border td,.page-content .el-table--border th,.page-content .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{border-right: 1px solid #cacbce;}
.page-content .el-table--border,.page-content .el-table--group { border: 1px solid #cacbce; border-radius: 4px;}
.page-content .el-table td,.page-content .el-table th{text-align: center;}
.page-content .el-button--text,.page-content .el-button--text.is-disabled,.page-content .el-button--text.is-disabled:focus,.page-content .el-button--text.is-disabled:hover, .page-content .el-button--text:active{padding: 0;}
#userCreate .num-inp.el-input{width: 56px;}

.task-tb-btn{ margin-top:20px;width:100%;height:40px;position:relative;}

/* login 登录界面样式设置 */
.log-content .el-form-item__label{color:#ffffff;font-size: 16px;}
.log-content .el-input__inner{width: calc(100% - 60px);}

.constrat .el-card {border: 1px solid #c2c6d0;}
.changed .el-form-item__label{color: red;}
h3.red{color: red;}

/* steps步骤样式 */
.cm-steps .el-steps{display: flex;}
.cm-steps .el-steps--horizontal{ white-space: nowrap; }
.cm-steps .el-step{ position: relative;flex-shrink: 1; }
.cm-steps .el-step.isis-horizontal{display: inline-block;}
.cm-steps .el-step.is-center .el-step__head, .el-step.is-center .el-step__main{ text-align: center; }
.cm-steps .el-step__head{ position: relative;width: 100%; }
.cm-steps .el-step__main{ white-space: normal; }
.cm-steps .el-step.is-center .el-step__line{ left: 50%;right: -50%; }
.cm-steps .el-step.is-horizontal .el-step__line{ height: 2px;top: 11px; }
.cm-steps .el-step__icon.is-icon{ width: 40px; }
.cm-steps .el-step__icon{ position: relative;z-index: 1;display: inline-flex;-webkit-box-pack:center;justify-content: center; --webkit-box-align: center;align-items: center;height: 24px;font-size: 14px;box-sizing: border-box;background: #fff; }
.cm-steps .el-step__icon-inner{ font-size: 25px;font-weight: 400; }
.cm-steps .el-step__icon-inner{ display: inline-block;user-select: none;text-align: center;line-height: 1;color: inherit; }
.cm-steps [class*=" el-icon-"]{ font-family: element-icons!important; speak: none; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; vertical-align: baseline; display: inline-block; -webkit-font-smoothing: antialiased;}
.cm-steps .el-step__head.is-wait{ color:#c0c4cc;border-color: #c0c4cc; }
.cm-steps .el-step__title.is-wait{ color:#c0c4cc; }
.cm-steps .is-finish .el-step__line-inner{ width:100%; }
.cm-steps .el-step__main{ margin-top: 6px;}
.cm-steps .el-step__title{ font-size:12px; line-height:18px;}
.cm-steps .el-step__icon{ transition: none;}
.cm-steps .is-finish .el-step__line-inner{ transition: none;animation:lineChange 1s 1; -moz-animation:lineChange 1s 1;-webkit-animation:lineChange 1s 1;-o-animation:lineChange 1s 1;} 
@keyframes lineChange{
	from{ width: 0%; }
	to{ width: 100%; }
}
@-moz-keyframes lineChange{
	from{ width: 0%; }
	to{ width: 100%; }
}
@-webkit-keyframes lineChange{
	from{ width: 0%; }
	to{ width: 100%; }
}
@-o-keyframes lineChange{
	from{ width: 0%; }
	to{ width: 100%; }
}
.cm-steps .el-step__title.is-finish{ animation: tColorChange 1s 1 ;-moz-animation:tColorChange 1s 1 ;-webkit-animation:tColorChange 1s 1 ;-o-animation:tColorChange 1s 1 ; }
@keyframes tColorChange{
	from{ color:#303133; }
	to{ color:#409EFF; }
}
@-moz-keyframes tColorChange{
	from{ color:#303133; }
	to{ color:#409EFF; }
}
@-webkit-keyframes tColorChange{
	from{ color:#303133; }
	to{ color:#409EFF; }
}
@-o-keyframes tColorChange{
	from{ color:#303133; }
	to{ color:#409EFF; }
}
/*.cm-step .el-step__head.is-finish{ color:#c0c4cc; border-color: #c0c4cc;}*/
.cm-steps .el-step__head.is-finish{ animation: iColorChange 1s 1 ;-moz-animation:iColorChange 1s 1 ;-webkit-animation:iColorChange 1s 1 ;-o-animation:iColorChange 1s 1 ; }
@keyframes iColorChange{
	from{ color:#303133;border-color: #303133; }
	to{ color:#409EFF;border-color: #409EFF;}
}
@-moz-keyframes iColorChange{
	from{ color:#303133;border-color: #303133; }
	to{ color:#409EFF;border-color: #409EFF;}
}
@-webkit-keyframes iColorChange{
	from{ color:#303133;border-color: #303133; }
	to{ color:#409EFF;border-color: #409EFF;}
}
@-o-keyframes iColorChange{
	from{ color:#303133;border-color: #303133; }
	to{ color:#409EFF;border-color: #409EFF;}
} 